---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: "--pre"

images:
  base_image:
          name: registry.access.redhat.com/ubi8/ubi-minimal:latest

additional_build_steps:
  append_base:
  - RUN echo "Upgrade pip" && /bin/pip3 install --no-cache-dir -U pip
  append_final:
    - LABEL ansible-execution-environment=true python_version=3.9 ansible_version=2.15.13

dependencies:
  python_interpreter:
    package_system: python39
    python_path: /usr/bin/python3.9
  ansible_core:
    package_pip: ansible-core==2.15.13
  ansible_runner:
    package_pip: ansible-runner
  python: requirements.txt
  system: bindep.txt
  galaxy: requirements.yml

options:
  container_init:
    cmd: '["bash"]'
    entrypoint: '["/opt/builder/bin/entrypoint", "dumb-init"]'
    package_pip: dumb-init==1.2.5
  package_manager_path: /usr/bin/microdnf
  relax_passwd_permissions: true
  workdir: /runner
  user: '1000'
