ansible-lint
cryptography
jinja2 >= 3.0.0
jmespath
memcache
netaddr
packaging
paramiko
pexpect
psutil
pyjwt
python-dateutil
pywinrm
pyyaml >= 5.1
redis
requests
requests-ntlm
six
yq
jq
urllib3 >= 1.15
importlib_resources >= 5.0, < 5.1; python_version < '3.10'
resolvelib >= 0.5.3, < 1.1.0
#openshift
#kubernetes
#openstacksdk
